
<div id="navbar">
  <ul class="topnav">
    <li><a class="active" href="/">Home</a></li>
    <li><a href="#friends">Friends</a></li>
    <% if current_user %>
      <li class="right"><%= link_to "Logout", "/logout", method: :delete%></li>
      <li class="new-one"><%= link_to "Start New Game", "/users/challenges/new", method: :get %></li>
      <li class="right"><%= link_to "Dashboard", "/users/#{current_user.id}/dashboard", method: :get%></li>
      <li class="right"><%= link_to "Pantry", "/users/ingredients", method: :get%></li>
    <% else %>
      <li class="right"><%= link_to "Login with Google", google_oauth2_path%></li>
    <% end %>
  </ul>
</div>

<div class='all-challenges'>
<h2>Challenges</h2>
  <h3>Solo Challenges</h3>

  <section id= 'top-three'>
    <h4>Top 3 Rated Challenges</h4>
    <% Challenge.top_challenges.each do |challenge| %>
      <section id= 'challenge-<%="#{challenge.id}"%>'>
        <p> <%= challenge.user.name %>'s Challenge id: <%= button_to "#{challenge.id}", "/challenges/#{challenge.id}", method: :get %> </p>
    <% end %><br>
  </section>

  <section id= '3ingredients'>
    <h4>Three Ingredient Challenges</h4>
      <% Challenge.three_ingredients.each do |challenge| %>
        <section id= 'challenge-<%="#{challenge.id}"%>'>
          <h5><%= challenge.user.name %>'s <%= challenge.meal_type %> challenge. </h5>
          <h4>Challenge Id: <%= button_to "#{challenge.id}", "/challenges/#{challenge.id}", method: :get %></h4>
      <% end %>
  </section>

  <section id= '5ingredients'>
    <h4>Five Ingredient Challenges</h4>
      <% Challenge.five_ingredients.each do |challenge| %>
      <section id= 'challenge-<%="#{challenge.id}"%>'>
        <h5><%= challenge.user.name %>'s <%= challenge.meal_type %> challenge. </h5>
        <h5>Challenge Id: <%= button_to "#{challenge.id}", "/challenges/#{challenge.id}", method: :get %></h5>
    <% end %>
  </section>

  <section id= '7ingredients'>
    <h4>Five Ingredient Challenges</h4>
      <% Challenge.seven_ingredients.each do |challenge| %>
      <section id= 'challenge-<%="#{challenge.id}"%>'>
        <h5><%= challenge.user.name %>'s <%= challenge.meal_type %> challenge. </h5>
        <h5>Challenge Id: <%= button_to "#{challenge.id}", "/challenges/#{challenge.id}", method: :get %></h5>
    <% end %>
  </section>
</div>
