
<div id="navbar">
  <ul class="topnav">
    <li><a class="active" href="/">Home</a></li>
    <li><a href="#friends">Friends</a></li>
    <% if current_user %>
      <li class="right"><%= link_to "Logout", "/logout", method: :delete%></li>
      <li class="new-one"><%= link_to "Start New Game", "/users/challenges/new", method: :get %></li>
      <li class="right"><%= link_to "Dashboard", "/users/#{current_user.id}/dashboard", method: :get%></li>
      <li class="right"><%= link_to "Pantry", "/users/ingredients", method: :get%></li>
    <% else %>
      <li class="right"><%= link_to "Login with Google", google_oauth2_path%></li>
    <% end %>
  </ul>
</div>


  <main class="game-main">
    <h1>Game Results</h1>

    <h2>Game # <%= "#{@challenge.id}" %></h2>
    <h2><%= "#{@challenge.user.name}" %> took <%= @challenge.time_limit %> minutes.</h2>
    <h2><%= "#{@challenge.user.name}" %> was challenged to make a <%= @challenge.meal_type %>.</h2>
    <h2>The Basket Size Was: <%= @challenge.basket_size %>.</h2>
    <h2>Their Mystery Basket Ingredients Were:</h2>
    <% @challenge.ingredients.each do |ingredient|%>
        <section id=final_ingredient-"<%= ingredient.id %>">
          <h3><%= ingredient.name %></h3>
        </section>
    <% end %>

      <section id= 'reviews'>
        <h2> Average Rating of This Challenge: <%= @challenge.ave_rating %> </h2><br>
        <% if !@challenge.check_rating_exists(current_user.id) && @challenge.not_mine?(current_user.id) %>
          <h2> Submit a Review For This Challenge </h2>
            <%= form_tag "/users/ratings", method: :post do %>
            <%= label_tag :stars %>
            <%= select_tag "stars", options_for_select(1..5) %>
            <%= label_tag :challenge %>
            <%= hidden_field_tag "challenge_id", @challenge.id  %>
            <%= hidden_field_tag "user_id", current_user.id  %>
            <%= submit_tag "Submit Review"  %>
            <% end %>
        <% end %>
    </section>
  </main>
