<h1>My Pantry</h1>

  <% if @ingredients %>
    <div class='ingredients'>
      <h3>Ingredients</h3>
      <% @ingredients.each do |food| %>
        <section id= 'ingredient-<%=food.id%>'>
          <%= food.name  if food.status == "active" %><br>
          <%= button_to "Remove From Pantry", "/users/ingredients/#{food.id}", method: :delete %><br><br>
         </section>

    <% end %></div>
  <% end %>

  <section id="item_add">
    <h3>Add An Item To Your Pantry</h3>

    <%= form_tag "/users/ingredients", method: :post do %>
       <%= label_tag :name %>
       <%= text_field_tag :name%>

       <%= submit_tag 'Add Item To Pantry' %>
    <% end %>
  </section>
