<!DOCTYPE html>
<html>
  <head>
    <title>HomeChopper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <body>
    <ul class="topnav">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="#friends">Friends</a></li>
      <% if current_user %>
        <li class="right"><%= link_to "Logout", "/logout", method: :delete%></li>
        <li class="right"><%= link_to "Dashboard", "/users/#{current_user.id}/dashboard", method: :get%></li>
        <li class="right"><%= link_to "Pantry", "/users/#{current_user.id}/ingredients", method: :get%></li>
      <% else %>
        <li class="right"><%= link_to "Login with Google", google_oauth2_path%></li>
      <% end %>
    </ul>
    
      <center>
   <% flash.each do |name, msg| -%>
         <%= content_tag :div, msg, class: name %>
       <% end -%>
 </center>
      <%= yield %>
    </center>
  </body>
</html>
