
<div class='all-challenges'>
  <h2>My Solo Challenges</h2>

  <section id= '3ingredients'>
    <h4>Three Ingredient Challenges</h4>
    <% Challenge.my_three_ingredients(current_user).each do |challenge| %>
      <section id= "challenge-<%="#{challenge.id}"%>">
        <h5>Challenge Id: <%= button_to "#{challenge.id}", "/challenges/#{challenge.id}", method: :get %></h5>
        <h5>Cooking Time: <%= "#{challenge.time_limit}" %> minutes</h5>
        <h5>Basket Size: <%= "#{challenge.basket_size}" %> ingredients</h5>
        <h5>Challenge Ingredients</h5>
          <% challenge.ingredients.each do |food| %>
              <h6><%= food.name %></h6>
          <% end %><br>
    <% end %>
  </section>

  <section id= '5ingredients'>
    <h4>Five Ingredient Challenges</h4>
    <% Challenge.my_five_ingredients(current_user).each do |challenge| %>
      <section id= "challenge-<%="#{challenge.id}"%>">
        <h5>Challenge Id: <%= button_to "#{challenge.id}", "/challenges/#{challenge.id}", method: :get %></h5>
        <h5>Cooking Time: <%= "#{challenge.time_limit}" %> minutes</h5>
        <h5>Basket Size: <%= "#{challenge.basket_size}" %> ingredients</h5>
        <h5>Challenge Ingredients</h5>
          <% challenge.ingredients.each do |food| %>
              <h6><%= food.name %></h6>
          <% end %><br>
    <% end %>
  </section>
</div>
