<h2>New Challenge</h2>
  <%= form_tag "/users/#{current_user.id}/challenges", method: :post do %>
  <%= label_tag :time_limit %>
  <%= text_field_tag :time_limit, @challenge.time_limit %>
  <%= label_tag :basket_size %>
  <%= text_field_tag :basket_size, @challenge.basket_size  %>
  <%= label_tag :meal_type %>
  <%= text_field_tag :meal_type, @challenge.meal_type  %>
  <%= submit_tag "Let's Get Choppin'"  %>
<% end %>
