<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div id="navbar">
  <ul class="topnav">
    <li><a class="active" href="/">Home</a></li>
    <li><a href="#friends">Friends</a></li>
    <% if current_user %>
      <li class="right"><%= link_to "Logout", "/logout", method: :delete%></li>
      <li class="new-one"><%= link_to "Start New Game", "/users/challenges/new", method: :get %></li>
      <li class="right"><%= link_to "Dashboard", "dashboard_index_path", method: :get%></li>
      <li class="right"><%= link_to "Pantry", "/users/ingredients", method: :get%></li>
    <% else %>
      <li class="right"><%= link_to "Login with Google", google_oauth2_path%></li>
    <% end %>
  </ul>
</div>

<% if @challenge.game_status == "playing" %>
<h1>Solo Challenge!</h1>
<div id="playing">
  <main class="game-info-main">
    <h2> <%="#{@challenge.basket_size}"%> Ingredients </h2>
    <h2> <%="#{@challenge.time_limit}"%> Minutes</h2>
    <h2>Can You Handle The Heat?</h2><br>
    <button onclick="myFunction()" id="hide">Let's Get Choppin'!</button><br><br>
    <iframe src="https://giphy.com/embed/l2SqeoNIBb432sF44" width="480" height="330" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </main>
</div>

<script>
$(document).ready(function(){
  $("#hide").click(function(){
    $("#navbar").hide();
    $("#playing").hide();
    $("#sound")[0].play();
    $("#divPlaying").show();
  });
});
</script>

<div id="divPlaying" style="display: none;">
    <h2><%="#{@challenge.meal_type.capitalize}"%> Challenge</h2>
    <h1>Mystery Basket Ingredients:</h1>
    <%= audio_tag "1-03 Love Tractor.mp3", id: "sound", class: "ausio-to-play" %>
    <h2><% @challenge.basket_contents.each do |ingredient|%></h2>
      <section id=ingredient-"<%= ingredient.id %>">
        <h2><%= ingredient.name %></h2>
      </section>
    <% end %>

<h3>Countdown Clock</h3>
<div id="clockdiv">
  <div>
    <span class="hours" id="hour"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes" id="minute"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds" id="second"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>

<p id="demo"></p>

<script>
  var submitButton = document.querySelector("#hide")

  submitButton.addEventListener('click', () => {

    var num = "<%="#{@challenge.time_limit}"%>"
    var personInput = (Number(num)*60) * 1000

    var deadline = new Date(Date.now() + personInput).getTime();
    var x = setInterval(function() {

      var now = new Date().getTime();

    var t = deadline - now;

    var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
    var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((t % (1000 * 60)) / 1000);

    document.getElementById("hour").innerHTML =hours;
    document.getElementById("minute").innerHTML = minutes;
    document.getElementById("second").innerHTML =seconds;
    if (t < 0) {
      clearInterval(x);
            document.getElementById("demo").innerHTML = "TIME'S UP";
            document.getElementById("hour").innerHTML ='0';
            document.getElementById("minute").innerHTML ='0' ;
            document.getElementById("second").innerHTML = '0';
            window.location.href = "<%= edit_challenge_path %>";
            }
      }, 1000);

    })
    </script>
    <br><br>

    <iframe src="https://giphy.com/embed/demgpwJ6rs2DS" width="480" height="359" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <%= button_to "Cancel Game", "/users/challenges/#{@challenge.id}", params: {game_event: "cancel"}, method: :patch %><br><br><br>
    <%= button_to "I Finished Early!", "/users/challenges/#{@challenge.id}/edit", method: :get %>
</div>

  <% elsif @challenge.game_status == "cancelled" %>
    <h1>Solo Challenge!</h1>
    <main class="game-cancelled-main">
      <h2>This game has been cancelled.</h2>
      <h2>Click here for recipe ideas using your basket ingredients.</h2>
      <h2><h2>Would you like to try again with a fresh basket?</h2></h2>
      <h2><%= button_to "Start New Game", "/users/challenges/new", method: :get %></h2><br><br>
      <h2>Would you like to change your pantry ingredients?</h2>
      <h2><%= button_to "Your Pantry", "/users/ingredients", method: :get %></h2>
    </main>

  <% elsif @challenge.game_status == "complete" %>
  
    <main class="game-complete-main">
      <h1>Here Are Your Game Results!!</h1>
      <h2>Time: <%= @challenge.time_limit %> Minutes</h2>
      <h2>Cooking: <%= @challenge.meal_type.capitalize %></h2>
      <h2>Basket Ingredients:</h2>
      <% @challenge.ingredients.each do |ingredient|%>
          <section id=final_ingredient-"<%= ingredient.id %>">
            <h3><%= ingredient.name %></h3>
          </section>
          <% end %>
      <% if !@challenge.photos.empty? %>
        <section id='photos' style="width:400px; height:auto">
          <%= link_to image_tag(@challenge.photos.last.image, style:'width:100%'), challenges_path %>
        </section>
      <% end %>
      <h2><%= button_to "Start New Game", "/users/challenges/new", method: :get %></h2>
      <h2><%= button_to "Your Pantry", "/users/ingredients", method: :get %></h2>
      <h2><%= button_to "Search For Recipes?", "/recipes/new", method: :get %><h2>

    </main>
<% end %>
