<center>
  <h1>Solo Challenge!</h1>
</center>

  <% if @challenge.game_status == "before" %>
<center>
    <main class="game-info-main">
      <h2>This is a solo game.  You race against the clock to build a fabulous dish using all the items in your mystery basket.</h2>
      <h2>As soon as you click "Let's Get Choppin'!", Your basket contents will be revealed, your timer will start, and the game will begin!</h2>
      <h2> Your basket will have <%="#{@challenge.basket_size}"%> random ingredients in it.</h2>
      <h2> You're making <%="#{@challenge.meal_type}"%> in this challenge.</h2>
      <h2> You will have <%="#{@challenge.time_limit}"%> minutes to cook.</h2>
      <h2><%= button_to "Let's Get Choppin'!", "/users/challenges/#{@challenge.id}", params: {game_event: "playing"}, method: :patch %></h2>
    </main>
</center>

  <% elsif @challenge.game_status == "playing" %>
  <center>
    <main class="game-play-main">
      <h2>You're making <%="#{@challenge.meal_type}"%>!</h2>
      <h1>Here are your mystery basket contents!</h1>
      <h2><% @challenge.basket_contents.each do |ingredient|%></h2>
          <section id=ingredient-"<%= ingredient.id %>">
            <h2><%= ingredient.name %></h2>
          </section>
          <% end %>
      <h2><%= button_to "Pause Game", "/users/challenges/#{@challenge.id}", params: {game_event: "pause"}, method: :patch %></h2>
      <h2><%= button_to "Cancel Game", "/users/challenges/#{@challenge.id}", params: {game_event: "cancel"}, method: :patch %></h2>
      <h2><%= button_to "I Finished Early!", "/users/challenges/#{@challenge.id}", params: {game_event: "done"}, method: :patch %></h2>
    </main>
  </center>

  <% elsif @challenge.game_status == "paused" %>
  <center>
    <main class="game-paused-main">
      <h2>You're making <%="#{@challenge.meal_type}"%>!</h2>
      <h2><%= button_to "Resume Game", "/users/challenges/#{@challenge.id}", params: {game_event: "playing"}, method: :patch %></h2>
      <h2><%= button_to "Cancel Game", "/users/challenges/#{@challenge.id}", params: {game_event: "cancel"}, method: :patch %></h2>
      <h1>Game Paused</h1>
    </main>
  </center>

  <% elsif @challenge.game_status == "cancelled" %>
  <center>
    <main class="game-cancelled-main">
      <h2>This game has been cancelled.</h2>
      <h2>Click here for recipe ideas using your basket ingredients.</h2>
      <h2><h2>Would you like to try again with a fresh basket?</h2></h2>
      <h2><%= button_to "Start New Game", "/users/challenges/new", method: :get %></h2><br>
      <h2>Would you like to change your pantry ingredients?</h2>
      <h2><%= button_to "Your Pantry", "/users/ingredients", method: :get %></h2>
    </main>
  </center>

  <% elsif @challenge.game_status == "done" %>
  <center>
    <main class="game-done-main">
      <h2>Congratulations!!</h2>
      <h2>You did it! Share photo of your creation below!</h2>
      <h2><%= form_tag "/users/challenges/#{@challenge.id}", params: {game_event: "save_photo"}, method: :patch do %>
            <%= label_tag :photo %>
            <%= text_field_tag :photo %>
            <%= submit_tag "Save Photo"  %>
          <% end %><br></h2>
      <h2><%= button_to "Don't Save a Photo", "/users/challenges/#{@challenge.id}", params: {game_event: "no_photo"}, method: :patch %></h2><br>
    </main>
  </center>

  <% elsif @challenge.game_status == "complete" %>
  <center>
    <main class="game-complete-main">
      <h1>Here Are Your Game Results!!</h1>
      <h2>You had a <%= @challenge.time_limit %> minute challenge.</h2>
      <h2>You were challenged to make a <%= @challenge.meal_type %>.</h2>
      <h2>Your Mystery Basket Ingredients Were:</h2>
      <% @challenge.ingredients.each do |ingredient|%>
          <section id=final_ingredient-"<%= ingredient.id %>">
            <h3><%= ingredient.name %></h3>
          </section>
          <% end %>
      <h2><h2>Would you like play again with a fresh basket?</h2></h2>
      <h2><%= button_to "Start New Game", "/users/challenges/new", method: :get %></h2><br>
      <h2>Would you like to change your pantry ingredients?</h2>
      <h2><%= button_to "Your Pantry", "/users/ingredients", method: :get %></h2>
      <h2><%= button_to "Your Dashboard", "/users/dashboard", method: :get %></h2>
    </main>
  </center>
  <% end %>
